<section class="mx-6 mb-6 lg:mx-10">
  <h1 class="text-2xl font-bold text-base-content">Pipes Básicos</h1>
  <h3 class="mt-1 text-lg font-light text-base-content/60">Pipes incluidos en Angular</h3>
</section>

<div class="stats stats-vertical w-full shadow-lg lg:stats-horizontal">
  <div class="stat place-items-center">
    <div class="stat-title font-semibold text-primary">Lowercase Pipe</div>
    <div class="stat-value mt-1">{{ nameUpper() | lowercase }}</div>
    <div class="stat-desc mt-1">{{ nameUpper() }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title font-semibold text-primary">Uppercase Pipe</div>
    <div class="stat-value mt-1">{{ nameLower() | uppercase }}</div>
    <div class="stat-desc mt-1">{{ nameLower() }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title font-semibold text-primary">Titlecase Pipe</div>
    <div class="stat-value mt-1">{{ fullName() | titlecase }}</div>
    <div class="stat-desc mt-1">{{ fullName() }}</div>
  </div>
</div>

<div class="divider"></div>

<div class="stats stats-vertical w-full shadow-lg lg:stats-horizontal">
  <div class="stat place-items-center">
    <div class="stat-title font-semibold text-success">Date Pipe | date</div>
    <div class="stat-value mt-1">{{ customDate() | date }}</div>
    <div class="stat-desc mt-1">{{ customDate() }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title font-semibold text-success">Date Pipe | mediumTime</div>
    <div class="stat-value mt-1">{{ customDate() | date : 'mediumTime' }}</div>
    <div class="stat-desc mt-1">{{ customDate() }}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title font-semibold text-success">Date Pipe | Week day</div>
    <div class="stat-value mt-1">{{ customDate() | date : 'EEEE' }}</div>
    <div class="stat-desc mt-1">{{ customDate() }}</div>
  </div>
</div>
